* {
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

header {
	background-color: rgb(41, 41, 41);
	color: white;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

html, body {
	background-color: rgb(105, 105, 105) !important;
}

#main {
	background-color: #F2F2F2;
}

#proyect1 {
	margin-left: 5%;
}

#proyectsBar {
	text-align: center;
	background-color: rgb(41, 41, 41);
	color: white;
}

#aboutMe {
	font-size: 120%;
}