* {
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

header {
	background-color: rgb(41, 41, 41);
	color: white;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

html, body {
	background-color: rgb(105, 105, 105) !important;
}

#main {
	background-color: #F2F2F2;
}

.proyect:hover {
	background-color: #ABABAB;
}

#proyect1 {
	margin-left: 5%;
}

#proyectsBar {
	text-align: center;
	background-color: rgb(41, 41, 41);
	color: white;
}

#aboutMe {
	font-size: 120%;
}

.skill {
	text-align: center;
	border: 1px solid rgb(41, 41, 41);
	border-radius: 5px;
	background-color: #E9E9E9;
	margin-left: 5%;
	margin-bottom: 1%;
}