* {
  transition: all 0.25s ease;
  box-sizing: border-box; }

html {
  font-size: 14px; }
  @media (max-width: 1600px) {
    html {
      font-size: 12px; } }
  @media only screen and (min-width: 375px) and (max-width: 812px) {
    html {
      font-size: 10px; } }
  @media only screen and (min-width: 300px) and (max-width: 812px) {
    html {
      font-size: 9px; } }

body {
  font-family: Work Sans,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased; }

nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  width: 100%;
  background: #282c37;
  align-items: center; }
  nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 10px;
    font-size: 50px; }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (min-width: 1600px) {
    .container {
      width: 100%;
      max-width: 100%;
      padding: 0 5%; } }

.title {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: -.5px;
  max-width: 840px;
  color: #282c37; }
  @media only screen and (min-width: 300px) and (max-width: 812px) {
    .title {
      font-size: 3rem; } }

.subtitle {
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: -.5px;
  max-width: 840px; }

.accent {
  color: #2b90d9;
  cursor: pointer;
  text-decoration: none; }
  .accent:hover, .accent:focus, .accent:active {
    color: #4d4d4d; }

.me {
  margin-top: 50px; }
  .me .container {
    display: block; }
    .me .container .me-title {
      margin-bottom: 0; }
    .me .container .me-subtitle {
      margin-top: 0;
      margin-bottom: 0; }
      @media (max-width: 1600px) {
        .me .container .me-subtitle {
          max-width: 700px; } }
    .me .container .me-cv {
      margin-top: 0; }
  .me .techs {
    margin-top: 50px;
    margin-bottom: 50px; }
    @media only screen and (min-width: 1025px) and (max-width: 1400px) {
      .me .techs {
        display: flex;
        justify-content: center;
        align-items: center; } }
    @media only screen and (min-width: 813px) and (max-width: 1024px) {
      .me .techs {
        display: flex;
        justify-content: flex-start;
        align-items: center; } }
    @media only screen and (min-width: 300px) and (max-width: 812px) {
      .me .techs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; } }
    .me .techs .logo {
      height: 50px;
      max-width: 205px;
      margin-right: 25px; }
      .me .techs .logo.big {
        height: 60px; }
      .me .techs .logo:hover {
        transform: scale(1.2); }
      @media only screen and (min-width: 300px) and (max-width: 812px) {
        .me .techs .logo {
          height: 30px;
          margin-bottom: 10px; } }

.work {
  background: #fbfbfb; }
  .work .container .title {
    margin-bottom: 5px;
    margin-top: 10px; }
  .work .container.featured {
    width: 100%;
    max-width: 100%;
    padding: 0 5%;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .work .container.featured .card {
      width: 30%;
      height: 100%;
      background: white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      border-radius: 4px;
      margin-bottom: 40px; }
      .work .container.featured .card:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        transform: translateY(-5px); }
      .work .container.featured .card .image {
        height: 350px;
        width: 100%;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat; }
      .work .container.featured .card .name {
        padding: 15px;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 0;
        letter-spacing: 0;
        line-height: 1.2;
        font-weight: 400;
        border-top: 1px solid #efefef; }
      @media (max-width: 1600px) {
        .work .container.featured .card {
          width: 31%; }
          .work .container.featured .card .image {
            height: 265px !important; }
          .work .container.featured .card .name {
            font-size: 1.6rem; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .work .container.featured .card {
          width: 45%; } }
      @media only screen and (min-width: 100px) and (max-width: 712px) {
        .work .container.featured .card {
          width: 80%;
          margin-left: auto;
          margin-right: auto; }
          .work .container.featured .card .image {
            height: 200px !important; }
          .work .container.featured .card .name {
            font-size: 1.6rem; } }

.contact {
  padding-bottom: 20px; }
  .contact .container .title {
    margin-bottom: 0; }
    @media only screen and (min-width: 375px) and (max-width: 812px) {
      .contact .container .title {
        font-size: 3rem; } }
  .contact .container .container {
    display: flex;
    flex-direction: column; }
    .contact .container .container .subtitle {
      margin-top: 0;
      margin-bottom: 0; }
    .contact .container .container .details {
      display: flex;
      flex-direction: column; }
      .contact .container .container .details .detail .fas {
        margin-right: 10px; }

/*# sourceMappingURL=main.css.map */
