@import "./_colours";

* {
    transition: all 0.25s ease;
    box-sizing: border-box;
}

html {
    @media (max-width: 1600px) {
        font-size: 12px;
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        font-size: 10px;
    }
}

body {
    font-family: Work Sans,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8;
    color: $text;
    -webkit-font-smoothing: antialiased;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 100%;
    background: $darkBlue;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-right: 10px;
        font-size: 50px;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-device-width: 1600px) {
        width: 100%;
        max-width: 100%;
        padding: 0 5%;
    }
}

.title {
    font-size: 4.4rem;
    font-weight: 500;
    letter-spacing: -.5px;
    max-width: 840px;
    color: $darkBlue;
}

.subtitle {
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: -.5px;
    max-width: 840px;
}

.accent {
    color: $mainBlue;
    cursor: pointer;
    text-decoration:  none;

    &:hover, &:focus, &:active {
        color: $text;
    }
}

.me {
    margin-top: 50px;
    
    .container {
        display: block;

        .me-title {
            margin-bottom: 0;
        }

        .me-subtitle {
            margin-top: 0;

            @media (max-width: 1600px) { 
                max-width: 700px;
            }
        }
    }

    .techs {
        margin-bottom: 10px;
        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        .logo {
            height: 50px;
            max-width: 205px;
            margin-right: 25px;

            &:hover {
                transform: scale(1.2);
            }

            @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
                height: 30px;
                margin-bottom: 10px;
            }
        }
    }
}

.work {
    background: #fbfbfb;

    .container .title {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .container.featured {
        width: 100%;
        max-width: 100%;
        padding: 0 5%;
        padding-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            width: 30%;
            height: 100%;
            background: white;
            @include box_shadow(2);
            border-radius: 4px;
            margin-bottom: 40px;

            &:hover {
                @include box_shadow(3);
                transform: translateY(-5px);
            }

            .image {
                height: 350px;
                width: 100%;
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
            }

            .name {
                padding: 15px;
                font-size: 1.5rem;
                text-align: center;
                margin-bottom: 0;
                letter-spacing: 0;
                line-height: 1.2;
                font-weight: 400;
                border-top: 1px solid #efefef;
            }

            // Laptop
            @media (max-width: 1600px) {
                width: 31%;
                & .image {
                    height: 265px !important;
                }

                & .name {
                    font-size: 1.6rem;
                }
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
                width: 45%;
            }
            
            @media only screen and (min-width : 100px) and (max-device-width: 712px) {
                width: 80%;
                margin-left: auto;
                margin-right: auto;

                & .image {
                    height: 265px !important;
                }

                & .name {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.contact {
    padding-bottom: 20px;
    .container {
        .title {
            @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
                font-size: 3rem;
            }
            margin-bottom: 0;
        }

        .container {
            
            .subtitle {
                margin-top: 0;
                margin-bottom: 0;
            }
            display: flex;
            flex-direction: column;

            .details {
                display: flex;
                flex-direction: column;

                .detail {
                    .fas {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}