body
{
	background-color: gray;
}
#canvas
{
	border: 1px solid black;
	background-color: white;
}

#container 
{
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#title 
{
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('http://ja-bravo.github.io/Sokoban/images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.rect 
{
	height: 50px;
	width: 50px;
	margin-right: 80px;
	text-align: center;
	float: left;
}

span
{
	color: white;
	line-height: 50px;
}

#blocked
{
	margin-left: 210px;
	background-color: #52504b;
}

#start
{
	background-color: #dbd90c;
}

#end
{
	background-color: #16b1cd;
}

#buttons
{
	float: right;
	margin-right: 30px;
}