body
{
	background-color: gray;
}
#canvas
{
	border: 1px solid black;
	background-color: white;
}

#container 
{
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.title 
{
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.rect 
{
	height: 50px;
	width: 50px;
	margin-right: 80px;
	text-align: center;
	float: left;
}

span
{
	color: white;
	line-height: 50px;
}

#blocked
{
	margin-left: 210px;
	background-color: #52504b;
}

#start
{
	background-color: #dbd90c;
}

#end
{
	background-color: #16b1cd;
}

#buttons
{
	float: right;
	margin-right: 30px;
}